<a href="https://colab.research.google.com/github/akshar99/COVID-19-EDA-Forecasting-using-fbProphet/blob/main/NIFTY50_01_01_20_18_10_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
pd.__version__

'1.1.2'

In [69]:
import pandas as pd
import datetime
import numpy as np

In [19]:
df = pd.read_excel('/content/drive/My Drive/python/NSE 010120-181020.xlsx')

In [20]:
df.head()

        Date      Open      High  ...     Close  Shares Traded  Turnover (Rs. Cr)
0 2020-01-01  12202.15  12222.20  ...  12182.50      304078039           10445.68
1 2020-01-02  12198.55  12289.90  ...  12282.20      407697594           15256.55
2 2020-01-03  12261.10  12265.60  ...  12226.65      428770054           16827.27
3 2020-01-04  12170.60  12179.10  ...  11993.05      396501419           16869.22
4 2020-01-05  12079.10  12152.15  ...  12052.95      447818617           17797.68

[5 rows x 7 columns]

In [29]:
df['Date'] = pd.to_datetime(df['Date'] , format='%Y-%m-%d')

In [33]:
df['Date'] = pd.to_datetime(df['Date'] , format='%d-%m-%Y')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               200 non-null    datetime64[ns]
 1   Open               200 non-null    float64
 2   High               200 non-null    float64
 3   Low                200 non-null    float64
 4   Close              200 non-null    float64
 5   Shares Traded      200 non-null    int64
 6   Turnover (Rs. Cr)  200 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 11.1 KB

In [35]:
Date = df['Date']

In [36]:
Date

0     2020-01-01
1     2020-01-02
2     2020-01-03
3     2020-01-04
4     2020-01-05
         ...
195   2020-07-22
196   2020-07-23
197   2020-07-24
198   2020-07-25
199   2020-07-26
Name: Date, Length: 200, dtype: datetime64[ns]

In [27]:
from datetime import datetime

In [40]:
#dateobject = []
#for i in range(len(Date)):
 # dateobject[i] = datetime.strptime(Date[i] ,'%Y-%m-%d' )
#  dateobject.append(dateobject[i])

In [60]:
df['Percentage Change'] = ((df['Open'] - df['Close'])/100).astype(float)

In [61]:
df['Percentage Change']

0      0.1965
1     -0.8365
2      0.3445
3      1.7755
4      0.2615
        ...
195    0.4260
196    0.0015
197   -0.5365
198    3.4310
199   -0.3505
Name: Percentage Change, Length: 200, dtype: float64

In [70]:
df['Marker'] = np.nan

In [71]:
for i in range(len(df['Marker'])):
  if df['Marker'][i] > 0:
    df['Marker'][i].append('Profit')
  elif df['Marker'][i] < 0:
    df['Marker'][i].append('Loss')
  elif df['Marker'][i] == 0:
    df['Marker'][i].append('Flat')

In [79]:
pd.options.mode.changed_assignment = None

OptionError: ignored

In [82]:
for i in range(len(df['Marker'])):
  if df['Percentage Change'][i] > 0:
    df['Marker'][i] =='Profit'
  elif df['Percentage Change'][i] < 0:
    df['Marker'][i] = 'Loss'
  elif df['Percentage Change'][i] == 0:
    df['Marker'][i] = 'Flat'

AttributeError: ignored

In [78]:
df['Marker']

0       NaN
1      Loss
2       NaN
3       NaN
4       NaN
       ...
195     NaN
196     NaN
197    Loss
198     NaN
199    Loss
Name: Marker, Length: 200, dtype: object